<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatteryNotifier.Setting.appSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BatteryNotifier.Setting.appSetting>
            <setting name="fullBatteryNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lowBatteryNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullBatteryNotificationValue" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="lowBatteryNotificationValue" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="fullBatteryNotificationMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="lowBatteryNotificationMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="PinToNotificationArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkThemeApplied" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaunchAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>68e189cd-278f-436f-b76a-8a4b75ec0b7c</value>
            </setting>
            <setting name="SystemThemeApplied" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lowBatteryNotificationValue2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="lowBatteryNotificationValue3" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="lowBatteryNotification2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lowBatteryNotification3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lowBatteryNotificationMessageTemplate" serializeAs="String">
                <value>🔋 Battery is low, please Connect to Charger.</value>
            </setting>
            <setting name="lowBatteryNotificationMessageTemplate2" serializeAs="String">
                <value>🔋 Battery went over {0} threshold</value>
            </setting>
            <setting name="lowBatteryNotificationMessageTemplate3" serializeAs="String">
                <value>🔋Battery went over {0} threshold</value>
            </setting>
            <setting name="lowBatteryNotificationDuration" serializeAs="String">
                <value>00:00:50</value>
            </setting>
            <setting name="lowBatteryNotificationDuration2" serializeAs="String">
                <value>00:00:50</value>
            </setting>
            <setting name="lowBatteryNotificationDuration3" serializeAs="String">
                <value>00:00:50</value>
            </setting>
            <setting name="fullBatteryNotificationMessageTemplate" serializeAs="String">
                <value>🔋 Battery is full please unplug the charger.</value>
            </setting>
            <setting name="fullBatteryNotificationTitle" serializeAs="String">
                <value>Full battery</value>
            </setting>
        </BatteryNotifier.Setting.appSetting>
    </userSettings>
</configuration>